<html>
<head>
  <title> Mini Message Board </title>
  <link rel='stylesheet' href='/styles.css' />
</head>
  <body>
    <h1><%= header %></h1>
    <% messages.map((message) => { %>
    <div>
      <li><%= message.text%></li>
      <li><%= message.user%></li>
      <li><%= message.added%></li>
    </div>
    <br />
    <% }) %>
  </body>
</html>
